# Função dentro de função

In [40]:
def multiplicador(n):
    def multiplica(x):
        return x*n
    return multiplica

In [41]:
triplo = multiplicador(3)

triplo(5)

15

# Função Recursiva

In [42]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n-1)

In [43]:
factorial(5)

120

### Exercicio 1

In [44]:
def func1(n):
    def func2(n):
        def func3(n):
            return n + 3
        return func3(n + 2) 
    return func2(n + 1)

In [45]:
func1(0)

6

### Exercicio 2

In [46]:
def funcfunc(palavra):
    def legal(palavra):
        def upper(palavra):
            return palavra[::-1].upper()
        return upper(palavra + " é legal")
    return legal(palavra)

In [47]:
funcfunc("Python")

'LAGEL É NOHTYP'

### Exercicio 3

In [48]:
def func1(n):
    def func2(n):
        def func3(n):
            return n // 2
        return func3(n+10)
    return func2(n*2)

func1(4)

9

### Exercicio 4

In [49]:
def func1(n):
    def func2(n):
        def func3(n):
            return n[::-1]
        #print(n)

        ## Solução que pensei originalmente:
        # for i in range(len(n)):
        #     n[i] = n[i]*2

        return func3([x*2 for x in n])
    return func2(n + [10])
    


print(func1([1, 2 ,3]))

[20, 6, 4, 2]

## [x*2 for x in lista]

# Dicionarios

In [50]:
alunos = {
    "nome": ["Ana","Pedro"],
    "idade": [21, 43],
    "curso": ["Engenharia de Software", "Medicina"]
}

print(alunos)
print("\n")

import pandas as pd

alunos_df = pd.DataFrame(alunos)
print(alunos_df)

{'nome': ['Ana', 'Pedro'], 'idade': [21, 43], 'curso': ['Engenharia de Software', 'Medicina']}


    nome  idade                   curso
0    Ana     21  Engenharia de Software
1  Pedro     43                Medicina

In [51]:
alunos["nome"][0]

'Ana'

### Personal test

In [52]:
alunos = {
    "user1":{"nome":"Foo", "idade":27, "curso":"Medicina"},
    "user2":{"nome":"Bar", "idade":21, "curso":"Bartender"},
    "user3":{"nome":"Qux", "idade":43, "curso":"Game Dev"}
}

In [63]:
for a in alunos:
    print(alunos[a]["nome"])

Foo
Bar
Qux

In [54]:
alunos_df = pd.DataFrame(alunos)

print(alunos_df)

          user1      user2     user3
nome        Foo        Bar       Qux
idade        27         21        43
curso  Medicina  Bartender  Game Dev

#### Continuando aula

In [58]:
times = {}

for i in range(4):
    time = input("Insira um time: ")
    vitorias = int(input("Insira a quantidade de vitorias: "))

    times[time] = vitorias

print(times)

{'STK1': 12, 'Cloud9': 4, 'Teste': 2, 'UFG': 4}

In [59]:
times = {
    'time':[],
    'vitorias':[]
}

for i in range(4):
    time = input("Insira um time: ")
    vitorias = int(input("Insira a quantidade de vitorias: "))

    times['time'].append(time)
    times['vitorias'].append(vitorias)

print(times)

{'time': ['aaa', 'bbb', 'super', 'wow'], 'vitorias': [3, 6, 99, 0]}

### Exercicio 1

In [64]:
banco_de_dados = {
    "cidade_nasc":[],
    "rg":[],
    "estado_civil":[]
}

for i in range(5):
    cidade = input("Insira sua cidade de nascimento: ")
    rg = int(input("Insira apenas os digitos do seu rg: "))
    estado = input("Insira seu estado civil: ")

    if cidade and rg and estado:
        banco_de_dados["cidade_nasc"].append(cidade)
        banco_de_dados["rg"].append(rg)
        banco_de_dados["estado_civil"].append(estado)
    else:
        print("Uma ou mais informacoes inseridas invalidas.")

print(banco_de_dados)

{'cidade_nasc': ['sampa', 'bambu', 'bh', 'embu', 'van'], 'rg': [11111111123, 1, 99999999999, 23, 222222222], 'estado_civil': ['solteiro', 'morto', 'casada', 'nao', 'viuvo']}

In [70]:
table = pd.DataFrame(banco_de_dados)

print(table)

  cidade_nasc           rg estado_civil
0       sampa  11111111123     solteiro
1       bambu            1        morto
2          bh  99999999999       casada
3        embu           23          nao
4         van    222222222        viuvo

##### aula

In [72]:
alunos = {
    "nome":["Ana","Pedro"],
    "idade":[27,24],
    "curso":["Engenharia", "Medicina"]
}

for chave, valores in alunos.items():
    print(f'{chave}: {valores}')

nome: ['Ana', 'Pedro']
idade: [27, 24]
curso: ['Engenharia', 'Medicina']

In [74]:
for chave, valores in alunos.items():
    print(f'\n {chave.upper()}')

    for valor in valores:
        print(f'- {valor}')

 NOME
- Ana
- Pedro

 IDADE
- 27
- 24

 CURSO
- Engenharia
- Medicina