# Pandas com Dicionarios criando tabelas

In [1]:
dicionario = {
       'nome':['foo','bar','foobar','qux'],
        'cep':[ 444, 333, 222, 111 ]       
       }
print(dicionario)

import pandas as pd

dataframe = pd.DataFrame(dicionario)
dataframe

{'nome': ['foo', 'bar', 'foobar', 'qux'], 'cep': [444, 333, 222, 111]}

     nome  cep
0     foo  444
1     bar  333
2  foobar  222
3     qux  111

Extrutura de reptição para preencher uma lista

In [6]:
lista_frutas = []

for k in range(5):
    frutas = input("Insert a fruit name: ")
    lista_frutas.append(frutas)

print(lista_frutas)

for k in lista_frutas:
    print(k)

['banana', 'laranja', 'manga', 'abacaxi', 'pera']
banana
laranja
manga
abacaxi
pera

In [9]:
lista_nomes = []
lista_cpfs = []

for k in range(5):
    nome = input(f"Insira nome N°{k+1}")
    cpf = input(f"Insira cpf N°{k+1}")
    lista_nomes.append(nome)
    lista_cpfs.append(cpf)

print(lista_nomes,lista_cpfs)

['Foo', 'Bar', 'Foobar', 'Qux', 'Bob'] ['456', '234', '069', '292', '001']

In [11]:
lista_frutas = ['banana', 'laranja', 'manga', 'abacaxi', 'pera']

for i in range(len(lista_frutas)):
    print(f"Fruta N°{i+1}: {lista_frutas[i]}")

Fruta N°1: banana
Fruta N°2: laranja
Fruta N°3: manga
Fruta N°4: abacaxi
Fruta N°5: pera

In [14]:
print(len("Amazing"))
print(len(lista_frutas))

7
5

In [15]:
text = "python"

for w in text:
    print(w)

p
y
t
h
o
n

In [16]:
numbers = [2,4,6,8]

for n in numbers:
    cube = n **2
    print(f"The cube of {n} is {cube}.")

The cube of 2 is 4.
The cube of 4 is 16.
The cube of 6 is 36.
The cube of 8 is 64.

Exercisio passado durante aula, 10min pra fazer

In [17]:
palavras = ['casa','computador','sol','programação']
palavras_longas = []

for k in palavras:
    if len(k) > 5:
        palavras_longas.append(k)

if len(palavras_longas) > 0:
    for k in palavras_longas:
        print(k)

computador
programação

Exercisio 02 passado em aula

In [20]:
num = [1, 4, 7, 10, 13, 16]
soma = 0

for n in num:
    if n % 2 == 0:  
        soma += n

print(soma)

30

In [36]:
lista_A = [10,20,30]
lista_B = [3,6,8]
lista_C = ['a','g','h']

lista_nova = []
lista_nova.append([lista_A, lista_B,lista_C])

print(lista_nova[0])

[[10, 20, 30], [3, 6, 8], ['a', 'g', 'h']]

Solicitar 5 produtos e seus preços, armazenar em listas separadas, retornar os respectivos produtos e preços, além do valor total dos produtos.

In [42]:
produtos = []
precos = []
soma = 0
quantidade = 5

for i in range(quantidade):
    produto = input(f"Insira o nome do produto {i+1}:" )
    preco = float(input(f"Insira o preço do {produto}: "))
    produtos.append(produto)
    precos.append(preco)
    soma += precos[s]

for p in range(quantidade):
    print(f"Produto: {produtos[p]}, preço: R$ {precos[p]:.2f}")

print(f"O preço total é: R$ {soma:.2f}")

Produto: Banana, preço: R$ 2.35
Produto: Sneakers, preço: R$ 4.99
Produto: Whey Protein, preço: R$ 239.99
Produto: Alface Frisee, preço: R$ 12.99
Produto: Mandioca, preço: R$ 16.99
O preço total é: R$ 277.31

Calculo de descontos na folha de pagamento. Solicitar 5 nomes e salários, calcular desconto conforme faixa slarial e mostrar salário liquido.

<= 1500 -0.05

1500 < desconto <= 3000 - 0.10

.> 3000 - 0.15

Retornar os respectivos valores em uma lista

In [40]:
nomes = []
salario = []
quantidade = 5


for i in range(quantidade):
    input_n = input("Insira o nome da pessoa: ")
    input_s = float(input(f"Insira o salario de {input_n}: "))
    nomes.append(input_n)
    salario.append(input_s)

for s in range(quantidade):
    if salario[s] <= 1500:
        salario[s] = (salario[s] * 0.95)
    elif 1500 < salario[s] <= 3000:
        salario[s] = (salario[s] * 0.90)
    else:
        salario[s] = (salario[s] * 0.85)

for p in range(quantidade):
    print(f"Nome {nomes[p]}. Salario liquido: R$ {salario[p]}")

Nome Foo. Salario liquido: R$ 1140.0
Nome Bar. Salario liquido: R$ 3060.0
Nome Foobar. Salario liquido: R$ 2070.0
Nome Qux. Salario liquido: R$ 570.0
Nome Gui. Salario liquido: R$ 1275000.0