In [ ]:
run = True
Nomes = []
CPFS = []

while run == True:
    Nome = str(input("Insira o nome do cliente: "))
    if Nome == ("Exit"):
        run = False
        break
    CPF = int(input("Insira CPF do cliente: "))


    if not len(str(CPF)) == 11:
        print("CPF Invalido")
    else:
        Nomes.append(Nome)
        CPFS.append(CPF)


print(Nomes)
print(CPFS)

In [ ]:
for i in range(1,11,2):
    print(i)

In [ ]:
for i in range(5,0,-1):
    print(i)

In [ ]:
#Ex. 6

for i in range (1, 11):
    if i ==5:
        print("Valor encontrado", i)
        break

In [ ]:
#Ex. 7

for k in range(1, 6):
    if k == 3:
        continue
    print(k)

In [ ]:
#Ex. 8

for s in range(1,11):
    m = s**2
    print(m)

In [ ]:
#Ex. 9
sum_cube = 0

for k in range(1, 6):
    cube = k**2
    sum_cube += cube
print(sum_cube)

In [ ]:
#Ex. 10

sum_cube = 0

for k in range(1,8):
    cube = k**2
    sum_cube += cube
average = sum_cube / k
print(average)

In [ ]:
#Q1

for i in range(2,12,2):
    print(i**2)

In [ ]:
#Q2

sum_price = 0

for i in range(5):
    price = float(input("Insert product price: "))
    sum_price += price
    average = sum_price / i
print(f"Total price to be paid is: {sum_price:.2f}")
print(f"Average price per item is: {average:.2f}")

In [ ]:
#Q3

mult = int(input("Insert a whole number for the Tabuada: "))

for i in range(1,11):
    print(f"{i} x {mult} =",mult*i)

In [11]:
x = int(input("How many values of temperature do you want to convert: "))

for i in range(x):

    temp_f = float(input(f"Insert Fahrenheit temperature N°{i+1}: "))
    print(f"Temperature N°{i+1} in Celsius is: ", 5/9 * (temp_f - 32))

Temperature N°1 in Celsius is:  44.44444444444444
Temperature N°2 in Celsius is:  20.0
Temperature N°3 in Celsius is:  -15.0

In [10]:
x = int(input("How many values of temperature do you want to convert: "))

for i in range(x):

    temp_f = float(input(f"Insert Fahrenheit temperature N°{i+1}: "))
    temp_c = 5/9 * (temp_f - 32)
    print(f"Temperature N°{i+1} in Celsius is: {temp_c:.2f} °C")

Temperature N°1 in Celsius is: 44.44 °C
Temperature N°2 in Celsius is: 20.00 °C
Temperature N°3 in Celsius is: -15.00 °C