### Ex 01

In [2]:
list_of_lists = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]

sum_list = [sum(numbers) for numbers in list_of_lists]

for i in range(3):
    print(f"sum of {list_of_lists[i]} = {sum_list[i]}")

sum of [4, 6, 5, 9] = 24
sum of [1, 0, 7, 2] = 10
sum of [3, 4, 1, 8] = 16

### Ex 02

In [6]:
list_of_tuples = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]

age = [list_of_tuples[item][2] for item in range(len(list_of_tuples))]
age

[81, 67, 83]

### Ex 03

In [7]:
names = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']

result = list(zip(range(len(names)),names))
result

[(0, 'Pedro'), (1, 'Júlia'), (2, 'Otávio'), (3, 'Eduardo')]

### Ex 04

In [8]:
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]

custos = [dados[1] for dados in aluguel if dados[0] == 'Apartamento' ]
custos

[1700, 1400, 1900]

### Ex 05

In [9]:
meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

year_cost = {month:cost for month, cost in zip(meses,despesa)}
year_cost

{'Jan': 860,
 'Fev': 490,
 'Mar': 1010,
 'Abr': 780,
 'Mai': 900,
 'Jun': 630,
 'Jul': 590,
 'Ago': 770,
 'Set': 620,
 'Out': 560,
 'Nov': 840,
 'Dez': 360}

### Ex 06

In [10]:
sales = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]

top_sale_values_2022 = [sales[i][1] for i in range(len(sales)) if sales[i][0] == '2022' and sales[i][1] > 6000]
top_sale_values_2022

[8883, 7688, 9544, 8190]

solucao

In [37]:
filtro = [tupla[1] for tupla in sales if tupla[0] == '2022' and tupla[1] > 6000]
print(filtro)

[8883, 7688, 9544, 8190]

### Ex 07

In [ ]:
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]

def case(glice):
    if glice <= 70:
        return 'Hipoglicemia'
    elif 70 < glice <= 99:
        return 'Normal'
    elif 100 <= glice <= 125:
        return 'Altered'
    else:
        return 'Diabetic'
    
results = [ (case(g), g) for g in glicemia] 
results

[('Diabetic', 129),
 ('Normal', 82),
 ('Hipoglicemia', 60),
 ('Normal', 97),
 ('Altered', 101),
 ('Hipoglicemia', 65),
 ('Hipoglicemia', 62),
 ('Diabetic', 167),
 ('Normal', 87),
 ('Hipoglicemia', 53),
 ('Hipoglicemia', 58),
 ('Normal', 92),
 ('Hipoglicemia', 66),
 ('Altered', 120),
 ('Altered', 109),
 ('Hipoglicemia', 62),
 ('Normal', 86),
 ('Normal', 96),
 ('Altered', 103),
 ('Normal', 88),
 ('Diabetic', 155),
 ('Hipoglicemia', 52),
 ('Normal', 89),
 ('Normal', 73)]

solucao

In [38]:
rotulos = [('Hipoglicemia', glicose) if glicose <= 70 else ('Normal', glicose) if glicose < 100 else ('Alterada', glicose) if glicose < 125 else ('Diabetes', glicose) for glicose in glicemia]
print(rotulos)

[('Diabetes', 129), ('Normal', 82), ('Hipoglicemia', 60), ('Normal', 97), ('Alterada', 101), ('Hipoglicemia', 65), ('Hipoglicemia', 62), ('Diabetes', 167), ('Normal', 87), ('Hipoglicemia', 53), ('Hipoglicemia', 58), ('Normal', 92), ('Hipoglicemia', 66), ('Alterada', 120), ('Alterada', 109), ('Hipoglicemia', 62), ('Normal', 86), ('Normal', 96), ('Alterada', 103), ('Normal', 88), ('Diabetes', 155), ('Hipoglicemia', 52), ('Normal', 89), ('Normal', 73)]

### Ex 08

In [ ]:
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]

all_lists = [id,quantidade,preco]
titulo = ['id','quantidade','preco','total']

data = [((titulo[0], all_lists[0][i]), (titulo[1], all_lists[1][i]), (titulo[2], all_lists[2][i]), (titulo[3], (all_lists[1][i] * all_lists[2][i]))) for i in range(len(id))]
data

[(('id', 0), ('quantidade', 15), ('preco', 93.0), ('total', 1395.0)),
 (('id', 1), ('quantidade', 12), ('preco', 102.0), ('total', 1224.0)),
 (('id', 2), ('quantidade', 1), ('preco', 18.0), ('total', 18.0)),
 (('id', 3), ('quantidade', 15), ('preco', 41.0), ('total', 615.0)),
 (('id', 4), ('quantidade', 2), ('preco', 122.0), ('total', 244.0)),
 (('id', 5), ('quantidade', 11), ('preco', 14.0), ('total', 154.0)),
 (('id', 6), ('quantidade', 2), ('preco', 71.0), ('total', 142.0)),
 (('id', 7), ('quantidade', 12), ('preco', 48.0), ('total', 576.0)),
 (('id', 8), ('quantidade', 2), ('preco', 14.0), ('total', 28.0)),
 (('id', 9), ('quantidade', 4), ('preco', 144.0), ('total', 576.0))]

solucao

In [ ]:
tabela = [('id', 'quantidade', 'preco', 'total')]
tabela += [(id[i], quantidade[i], preco[i], quantidade[i]*preco[i]) for i in range(len(id))]

# I added this, cus provided solution above didnt print to screen
for i in tabela:
    print(i)

('id', 'quantidade', 'preco', 'total')
(0, 15, 93.0, 1395.0)
(1, 12, 102.0, 1224.0)
(2, 1, 18.0, 18.0)
(3, 15, 41.0, 615.0)
(4, 2, 122.0, 244.0)
(5, 11, 14.0, 154.0)
(6, 2, 71.0, 142.0)
(7, 12, 48.0, 576.0)
(8, 2, 14.0, 28.0)
(9, 4, 144.0, 576.0)

### Ex 09

In [34]:
estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']
dados = {}

for e in estados:
    if e in dados:
        dados[e] +=1
    else:
        dados[e] = 1
        
dados

{'SP': 8, 'ES': 6, 'MG': 7, 'RJ': 2}

Solution that was given, very ineficient

In [44]:
# Armazenando os estados sem repetição de valor
estados_unicos = list(set(estados))

# Criando uma lista de listas com valores repetidos de cada estado
lista_de_listas = []
for estado in estados_unicos:
    lista = [uf for uf in estados if uf == estado]
    lista_de_listas.append(lista)
print(lista_de_listas)

# Criando um dicionário em que a chave é o nome de cada estado único e o valor é a contagem de elementos
contagem_valores = {estados_unicos[i]: len(lista_de_listas[i]) for i in range(len(estados_unicos))}
print(contagem_valores)

[['MG', 'MG', 'MG', 'MG', 'MG', 'MG', 'MG'], ['SP', 'SP', 'SP', 'SP', 'SP', 'SP', 'SP', 'SP'], ['ES', 'ES', 'ES', 'ES', 'ES', 'ES'], ['RJ', 'RJ']]
{'MG': 7, 'SP': 8, 'ES': 6, 'RJ': 2}

Solution found in forum

In [49]:

estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']

#Criando o dicionário com a quantidade de vezes que cada estado aparece

filiais = {estado: estados.count(estado) for estado in estados}
filiais

{'SP': 8, 'ES': 6, 'MG': 7, 'RJ': 2}

### Ex 10

In [35]:
funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG',8), ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]

funcionarios_por_estado = {}
funcionarios_total_por_estado = {}

for f in funcionarios:
    if f[0] in funcionarios_por_estado:
        funcionarios_por_estado[f[0]].append(f[1])
    else:
        funcionarios_por_estado[f[0]] = [f[1]]

print(funcionarios_por_estado)
        
funcionarios_total_por_estado = funcionarios_por_estado

for g in funcionarios_total_por_estado:
    funcionarios_total_por_estado[g] = sum(funcionarios_total_por_estado[g])
    
print(funcionarios_total_por_estado)

{'SP': [16, 10, 7, 11, 9, 12, 7, 10], 'ES': [8, 9, 7, 12, 8, 14], 'MG': [9, 6, 4, 8, 5, 10, 12], 'RJ': [13, 9]}
{'SP': 82, 'ES': 58, 'MG': 54, 'RJ': 22}